## MongoDB Assignment

## Q1

MongoDB is a nosql database used for storing data in key value format or often knwon as document type data.
The main use of no sql is that it doesn't need to be consistent with cols we can append any number of rows and cols we like.It doesn't follow relation pattern. We can use mongodb app for creating an event based app. Such as notification app for alert.

## Q2

1. Ad-hoc queries for optimized, real-time analytics
2. Indexing appropriately for better query executions
3. Replication for better data availability and stability
4. Sharding
5. Load balancing

## Q3

In [4]:
import pymongo

In [5]:
client = pymongo.MongoClient("mongodb+srv://sid:pwskills@cluster0.vd7avyx.mongodb.net/?retryWrites=true&w=majority")
db = client['test1']
collection  = db['test_data']

## Q4

In [6]:
collection.insert_one({'name':'siddharth','course':'Data science'})

In [7]:
data = [{'name':'siddharth','course':'Data science'}
        ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}
       ,{'name':'siddharth','course':'Data science'}]
collection.insert_many(data)

In [8]:
for x in collection.find({'name':'siddharth'}):
    print(x)

{'_id': ObjectId('63fb51bd8a390ef50ece5e0e'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb51bd8a390ef50ece5e0f'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb51bd8a390ef50ece5e10'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb52548a390ef50ece5e11'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb52548a390ef50ece5e12'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb52548a390ef50ece5e13'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb525b8a390ef50ece5e14'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb525b8a390ef50ece5e15'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb525b8a390ef50ece5e16'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb538a4c11771144ff5a52'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a53'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a54'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a55'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a56'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a57'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a58'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a59'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a5a'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a5b'), 'name': 'siddharth', 'course': 'Data science'}

In [9]:
collection.find_one({'name':'siddharth'})

{'_id': ObjectId('63fb51bd8a390ef50ece5e0e'),
 'name': 'siddharth',
 'course': 'Data science',
 'age': 12}

## Q5

In [10]:
for x in collection.find({'course':'Data science'}):
    print(x)

{'_id': ObjectId('63fb51bd8a390ef50ece5e0e'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb51bd8a390ef50ece5e0f'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb51bd8a390ef50ece5e10'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb52548a390ef50ece5e11'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb52548a390ef50ece5e12'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb52548a390ef50ece5e13'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb525b8a390ef50ece5e14'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb525b8a390ef50ece5e15'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb525b8a390ef50ece5e16'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb538a4c11771144ff5a52'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a53'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a54'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a55'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a56'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a57'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a58'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a59'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a5a'), 'name': 'siddharth', 'course': 'Data science'}
{'_id': ObjectId('63fb538b4c11771144ff5a5b'), 'name': 'siddharth', 'course': 'Data science'}

In [11]:
collection.delete_many({'name':'siddharth'})

In [12]:
data = [{'name':'siddharth','course':'Data science','age':12}
        ,{'name':'siddharth','course':'Data science','age':13}
       ,{'name':'siddharth','course':'Data science','age':14}]
collection.insert_many(data)

## Q6

In [13]:
a = collection.find({}).sort("age",-1)

In [14]:
for x in a:
    print(x)

{'_id': ObjectId('63fb538e4c11771144ff5a5e'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}
{'_id': ObjectId('63fb538e4c11771144ff5a5d'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb538e4c11771144ff5a5c'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}

## Q7

#### delete_many is the used for deleting records that matches the passed condition while delete_one is used to delete single record and 
#### the drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

In [15]:
collection.delete_one({"name":"siddharth"})

In [16]:
for x in collection.find({"name":"siddharth"}):
    print(x)

{'_id': ObjectId('63fb538e4c11771144ff5a5d'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb538e4c11771144ff5a5e'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}

In [17]:
collection.delete_many({"name":"siddharth"})

In [18]:
for x in collection.find({"name":"siddharth"}):
    print(x)

In [22]:
data = [{'name':'siddharth','course':'Data science','age':12}
        ,{'name':'siddharth','course':'Data science','age':13}
       ,{'name':'siddharth','course':'Data science','age':14}]
collection.insert_many(data)

In [23]:
for x in collection.find({"name":"siddharth"}):
    print(x)

{'_id': ObjectId('63fb54e94c11771144ff5a5f'), 'name': 'siddharth', 'course': 'Data science', 'age': 12}
{'_id': ObjectId('63fb54e94c11771144ff5a60'), 'name': 'siddharth', 'course': 'Data science', 'age': 13}
{'_id': ObjectId('63fb54e94c11771144ff5a61'), 'name': 'siddharth', 'course': 'Data science', 'age': 14}

In [24]:
collection.drop()

In [25]:
for x in collection.find({"name":"siddharth"}):
    print(x)